/* AdminDashboard.css */

.admin-dashboard {
    display: flex;
    flex-direction: column;
    padding-top: 30px; /* Offset for fixed navbar */
  }
  
  .dashboard-content {
    display: flex;
  }
  
  .main-content {
    padding: 20px;
    width: 100%;
    margin-left: 200px;
  }
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 60px; /* Adjust for collapsed sidebar on mobile */
    }
  }
  