.container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .searchContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    right: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: -70px;
  }
  
  .searchBox {
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    margin-bottom: 10px;
  }
  
  .searchInput {
    flex: 1;
    margin-left: 10px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
  }
  
  .map {
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    margin-bottom: 60px;
  }
  
  .searchIcon {
    width: 20px;
    height: 20px;
    color: gray;
  }
  
  .searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .searchButtonText {
    margin-left: 10px;
    font-size: 16px;
    color: black;
  }
  