/* Plein écran pour l'image de la carte */

html, body, #root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: flex;
}

.searchContainer {
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.searchInput {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchButton {
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #005bb5;
}

.mapContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
