.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.splash-image {
    width: 500px;
    height: 500px;
}

h1 {
    font-size: 15px;
    margin-top: 5px;
    color: #000;
    font-weight: bold;
}
